*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background{
  position: relative;
  background: url("../images/background.webp") no-repeat center center/cover;
  height: 19cm;
  overflow: hidden;
}
.background .astronaut{
  margin-left: 38%;
  margin-top: 20%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.background .moon{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}